.href-item:hover .text-slider,
.href-item:focus .text-slider {
  transform: translateY(0);
  z-index: 1;
}

.href-item:focus,
.href-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-item:not(:last-child) {
  margin-right: 30px;
}

.container-item {
  width: 170px;
  height: 90px;
}
