.footer-connection-list {
  display: flex;
  justify-content: center;
}

.footer-connection-itam:not(:last-child) {
  margin-right: 10px;
}

.footer-connection-itam {
  width: 44px;
  height: 44px;
}

.footer-connection-ico {
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  border-radius: 50%;
  fill: var(--color-font-light);
  width: 100%;
  height: 100%;
  transition: var(--timing-animation) var(--animation);
}

.footer-connection-ico:hover,
.footer-connection-ico:focus {
  background-color: var(--color-font-accent);
}
